<html lang="eu">
    <%- include('../layouts/header')%>
    <body>
        <header class="main-header">
            <%- include("../layouts/navigation")%>
        </header>
        hello
    </body>
</html>